*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* color: antiquewhite; */
}
.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left:16px;
    line-height: 60px;
}
.sidebar_menu{
    position: fixed;
    left: -350px; 
    height: 100vh;
    width: 350px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 2px 2px 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 0px 4px rgba(255,255,255,0.5);

}
.sidebar_menu .logo a{
    position: absolute;
    color: white;
    left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.sidebar_menu .btn_two{
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right:16px;
    line-height: 60px;
    opacity: 1;
}
.sidebar_menu .menu{
    color: white;
    position: absolute;
    top: 70px;   
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 7px 10px;
    width: 100%; 
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 18px;;
}
.sidebar_menu .menu i{
    padding: 8px;
}
.sidebar_menu .social_media{
    
    position: absolute;
   bottom: 20px;
   left: 25%;
    
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 40%;
    padding: 0 7px;
}
#check{
    display: none;
    position: absolute;
}
.sidebar_menu .menu li:hover{
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
    /* border-radius: 5px;
    cursor: pointer; */
}

.btn_one:hover i{ 
    cursor: pointer;
    font-size: 40px;
    transition: all 0.4s ease-in-out;
}
.btn_two:hover i{
    cursor: pointer;
    font-size: 30px;
    transition: all 0.3s linear;
}  
.sidebar_menu .social_media i:hover{
    cursor: pointer;
    opacity: 75%;
    font-size: 25px;
    transition: all 0.2s linear;
} 
#check:checked ~ .sidebar_menu{
    left: 0;
    transition: all 0.5s ease;
}
#check:checked ~ .btn_one i{
    opacity: 0;
    
}
/* #check:checked ~  .sidebar_menu .btn_two i {
    opacity: 5;
    
    
} */